body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #0c0c0c;
}

.navLinks {
  width: 2.25rem;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.navLinks:hover {
  width: 6rem;
  /* Set an appropriate width */
}

.navLinks.shortTxt:hover {
  width: 4rem !important;
}

.navLinks.longTxt:hover {
  width: 7rem !important;
}

.hideIcons {
  bottom: 4rem !important;
  right: 3rem !important;
  opacity: 0 !important;
  rotate: 270deg;
  transition: all 500ms ease !important;
}

.socialIcons {
  transition: all 500ms ease !important;
}

.typewriter-line {
  animation: typing 3.5s linear infinite;
}

/* The typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  95% {
    width: 0;
  }
  100% {
    width: 0;
  }
}


/* Skill Cards Styling */

.blob {
  filter: blur(30px);
  position: absolute;
  z-index: 0;
  border-radius: 100%;
  transition: all 10ms linear;
}


.punchAnimate {
  animation-timeline: view();
  animation: punch 300ms ease-in;
}

@keyframes punch {
  from {
    transform: scale(3);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}